/* Menu CSS */

h6
{

}


.btn
{
  background-color: #333;
  color: white;
  width:100%;
  height: 80px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border:0px solid white;
}

.btn:hover
{
  background-color: #111;
  float: right;
}

.btn:focus
{
background-color:white;
color:black;
}


.btn2
{
  background-color: #333;
  color: white;
  width:100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border:0px solid white;
}


.btn2:hover
{
  background-color: #111;
  float: right;
}

.btn2:focus
{
background-color:white;
color:black;
}




.btn3
{
  background-color: #333;
  color: white;
  width:100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border:0px solid white;
}


.btn3:hover
{

  background-color: #111;
  float: right;

}

.btn3:focus
{

background-color:#FF2B95;
color:#FFFFFF;

}





.btn4
{
height:70px;
width:210px;
background-color:white;
color:black;
font-size:20px;
border:1px solid white;
text-align:left;
font-family:Gabriola;
}


.btn4:hover
{

background-color:#FF2B95;
color:#FFFFFF;

}

.btn4:focus
{

background-color:#FF2B95;
color:#FFFFFF;

}


.btn5
{
height:45px;
width:210px;
background-color:white;
color:black;
font-size:20px;
border:1px solid white;
text-align:left;
font-family:Gabriola;
}

.btn5:hover
{

background-color:#2492FF;
color:#FFFFFF;
}

.btn5:focus
{

background-color:#2492FF;
color:#FFFFFF;
}
