.banner
{
    background-image: url(../img/mainbanner.png);
    height: 100%;
    max-height: 40%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
