
.left{
   float: left;
   width: 30%;
   padding-left: 30px;
}

.right{
   float: right;
   padding-right: 30px;
   width: 30%;
}

.center{
    text-align: center;
    display: inline-block;
    width: 60%;
}

.center img{
    display: inline-block;
}

.footertext{
    line-height:1.6em;
    font-size: 15px;
    font-family: brandon-grot-w01-light, sans-serif;
    text-align: center;
    width: 324px;
    top: 112px;

}

.footertext a{
    display: block;
    text-decoration: none;
    color:#494949;
}
